@{
    ViewData["Title"] = "Help";
}
<h1>@ViewData["Title"]</h1>

<br />
<ul>
    <li>
        <a href="https://imagestorelz.blob.core.windows.net/imagelandingzone/Documents/Image_Comparator_UserGuide_FAQs.docx">User Guide/FAQ</a>
    </li>
    <li>
        <a href="https://imagestorelz.blob.core.windows.net/imagelandingzone/Documents/Image_Comparator_Tech_Spec.docx">Technical Specifications Document</a>
    </li>
    <li>
        <a href="https://imagestorelz.blob.core.windows.net/imagelandingzone/Documents/Image_Comparator_TSG.docx">Trouble Shooting Guide</a>
    </li>
</ul>

